<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mateusz.grabarski.myshoppinglist">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.activities.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.activities.login.LoginActivity" />
        <activity android:name=".views.activities.dashboard.DashboardActivity" />
        <activity
            android:name=".views.activities.profile.EditProfileActivity"
            android:label="@string/edit_profile"
            android:parentActivityName=".views.activities.dashboard.DashboardActivity" />
        <activity android:name=".views.activities.settings.SettingsActivity" />
        <activity android:name=".views.activities.help.HelpActivity" />
        <activity
            android:name=".views.activities.shopping.create.CreateShoppingListActivity"
            android:parentActivityName=".views.activities.dashboard.DashboardActivity" />
        <activity android:name=".views.activities.shopping.live.CurrentShoppingActivity" />
        <activity
            android:name=".views.activities.friends.FriendsActivity"
            android:label="@string/your_friends"
            android:parentActivityName=".views.activities.dashboard.DashboardActivity" />
        <activity
            android:name=".views.activities.friends.FindFriendActivity"
            android:label="@string/find_friend"
            android:parentActivityName=".views.activities.friends.FriendsActivity" />
    </application>

</manifest>